* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.head-padding{
  padding-top: 5px;
}

.header{
  overflow: hidden;
  position: relative;
  width: 100%;
}

.title{
  width: 50%;
  float: left;
}

.roll-dice-button{
  border-style: solid;
  height: 100%;
  width: 40%;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.dice-result{
  font-size: 40px;
}

.search-bar{
  padding-top: 10px;
  font-size: 20px;
}

.footer{
  margin: auto;
  width: 50%;
}

.invisible{
  visibility: hidden;
}

.stigma{
  background-color: red;
}
